@use './color' as *;

.contact {
  margin-bottom: 17rem;

  &__header {
    font-size: 6rem;
    font-weight: 400;
    color: $text-color;

    @media (max-width: 414px) {
      font-size: 4rem;
    }
  }

  &__text {
    font-size: 2.1rem;
    line-height: 3rem;
    font-weight: 400;
    color: $text-color;
    max-width: 46rem;

    @media (max-width: 414px) {
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }

  &__inner {
    // outline: 1px solid red;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 414px) {
      flex-direction: column;
    }
  }
}

.subscribe {
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 60rem;

    @media (max-width: 995px) {
      max-width: 0;
      // width: 34.2rem;
    }
  }
}

label {
  color: $text-color;
  // margin-right: 10rem;
  padding: 0;
  font-size: 1.6rem;
  // margin-bottom: 3rem;

  @media (max-width: 995px) {
    margin-bottom: 0.7rem;
    opacity: 0.7;
  }
}

input {
  min-width: 34.2rem;
  height: 5rem;
  font-size: 1.6rem;
  padding-left: 1rem;

  @media (max-width: 414px) {
    min-width: 28rem;
  }
}

input[type='text'] {
  margin: 0 0 0 15.5rem;
  @media (max-width: 995px) {
    margin: 0;
  }
}

input[type='tel'] {
  margin: 0 0 0 11.8rem;
  @media (max-width: 995px) {
    margin: 0;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.message {
  display: flex;
  align-items: flex-start;

  @media (max-width: 995px) {
    flex-direction: column;
  }

  &__field {
    margin-left: 8rem;
    min-height: 17.2rem;
    width: 51.2rem;
    padding: 1.8rem 1rem 0 2.3rem;
    font-size: 2.1rem;
    color: #b4b4b4;

    @media (max-width: 995px) {
      width: 34.2rem;
      margin-left: 0;
    }

    @media (max-width: 414px) {
      width: 28rem;
    }
  }
}

.phone {
  display: flex;
  align-items: center;
  margin: 2.5rem 0;

  @media (max-width: 995px) {
    flex-direction: column;
    align-items: start;
  }
}

.form-btn {
  border: none;
  color: $text-color;
  background-color: $bg-main-page;
  display: block;
  max-width: 24rem;
  border-radius: 100rem;
  border: solid 3px transparent;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  background-image: linear-gradient(
      rgba(13, 13, 13, 100),
      rgba(13, 13, 13, 100)
    ),
    linear-gradient(101deg, #f04961, #fca940);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0d0d0d inset;
  margin: 3rem 0 1rem 19rem;

  @media (max-width: 995px) {
    margin: 3rem 0 1rem 0;
  }
}

.contact__data {
  display: flex;
  flex-direction: column;
  align-items: start;
  @media (max-width: 414px) {
    margin-top: 5rem;
  }
}

.contact-phone {
  position: relative;
  margin-bottom: 5rem;

  &:after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, #ff2a56 23.18%, #f1cd21 76.82%);
    width: 80%;
    height: 0.5rem;
    bottom: -1.8rem;
    left: 0;
    border-radius: 20px;
  }
}

.contact-mail {
  align-self: flex-start;
  margin-bottom: 5rem;
}

.social {
  padding: 0;

  &__list {
    align-items: center;
    margin-bottom: 1rem;
  }

  &__link {
    font-size: 20px;
    color: $text-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    // padding: 10px;

    & img {
      margin-right: 1.8rem;
    }
  }
}

.personal {
  @media (max-width: 995px) {
    display: flex;
    flex-direction: column;
  }
}
