@use './color' as *;
.header-content {
  position: relative;
  min-height: 80rem;
  // width: 100%;
  margin-top: 12.6rem;

  // display: flex;
  display: block;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (max-width: 414px) {
    min-height: 60rem;
    margin-top: 22.6rem;
  }

  &__inner {
    z-index: 10;
  }

  &__heading {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 300;
    color: $text-color;
    max-width: 50rem;
    margin: 2rem 0;

    @media (max-width: 414px) {
      font-size: 4rem;
    }

    span {
      color: #d58314;
      text-transform: uppercase;
      letter-spacing: 1rem;
    }
  }
  &__title {
    font-size: 2rem;
    line-height: 2.7rem;
    color: $text-color;
    max-width: 40rem;
    font-weight: 200;
    margin-bottom: 19.2rem;

    @media (max-width: 768px) {
      margin-bottom: 7rem;
    }
  }
  &__img {
    position: absolute;
    right: -6rem;
    top: -24rem;

    max-width: 70%;

    @media (max-width: 960px) {
      right: 0;
    }

    @media (max-width: 768px) {
      right: 3rem;
      width: 93%;
    }

    @media (max-width: 414px) {
      width: 100vh;
      right: 0;
    }
  }
  &__label {
    color: #565656;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__buy-btn {
    font-size: 1.6rem;
    padding: 1.4rem 5rem;
    border: solid 3px transparent;
    margin-bottom: 4rem;
  }
}

.quality {
  position: inherit;
  display: grid;
  grid-template-columns: 65% 1fr;

  &__list {
    color: $text-color;
    // display: flex;
    padding: 0;

    li {
      list-style: none;
      font-size: 1.6rem;
      max-width: 10rem;
      margin-bottom: 3.5rem;

      @media (max-width: 414px) {
        margin-right: 2rem;
        font-size: 1.4rem;
      }
    }
  }

  &__text {
    position: relative;
    font-size: 3.6rem;
    color: $text-color;
    max-width: 100px;
    text-align: center;
    z-index: 2;

    &::before {
      position: absolute;
      content: url(../../img/sun.png);
      top: -3.4rem;
      left: -4.3rem;
      z-index: -1;
    }
  }
}
