@font-face {
  src: url(../fonts/GothamPro-Light.woff2) format('woff2'),
    url(../fonts/GothamPro-Light.woff) format('woff');
  font-family: 'Gotham';
  font-weight: 200;
}

@font-face {
  src: url(../fonts/GothamPro.woff2) format('woff2'),
    url(../fonts/GothamPro.woff) format('woff');
  font-family: 'Gotham';
  font-weight: 400;
}

@font-face {
  src: url(../fonts/GothamPro-Bold.woff2) format('woff2'),
    url(../fonts/GothamPro-Bold.woff) format('woff');
  font-family: 'Gotham';
  font-weight: 700;
}
